#chat-screen {
	background-color: #abc1d1;
	height: 11000vh;
}

#chat-screen .alt-header,
#chat-screen .status-bar {
	top: 0;
	position: fixed;
	width: 100%;
	background-color: #abc1d1;
	box-sizing: border-box;
}

#chat-screen .status-bar {
	z-index: 2;
}

#chat-screen .alt-header {
	top: 10px;
	z-index: 1;
}

.main-chat {
	padding: 0px var(--horizontal-space);
	padding-top: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chat__timestamp {
	color: white;
	background-color: #92a4b2;
	padding: 8px 15px;
	border-radius: 16px;
	margin-bottom: 25px;
}

.message-row {
	width: 100%;
	display: flex;
	margin-bottom: 25px;
}

.message-row img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.message__info {
	display: flex;
	align-items: flex-end;
}

.message__author {
	display: block;
	margin-bottom: 5px;
}

.message__bubble {
	background-color: white;
	padding: 10px;
	font-size: 18px;
	border-radius: 15px;
	border-top-left-radius: 0px;
	margin-right: 5px;
}

.message__time,
.message__author {
	opacity: 0.8;
	font-size: 14px;
}

.message-row--own {
	justify-content: flex-end;
}

.message-row--own .message__bubble {
	background-color: var(--yellow);
	border-top-right-radius: 0px;
	border-top-left-radius: 15px;
	margin-right: 0px;
	margin-left: 5px;
}

.message-row--own .message__info {
	flex-direction: row-reverse;
}

/* ! 위와 같은 방법을 다른식으로 하는 것 */
/* .message-row--own .message__bubble {
	order: 1;
}

.message-row--own .message__time {
	order: 0; 
} */
