.settings__setting {
	padding: 20px 0;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 18px;
	/* * 일부러 settings__setting 안에 두개의 div 를 만들어 justify-content: spce-between; 을 적용하여 두개 간격을 유지 시킴. */
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.settings__setting i {
	opacity: 0.8;
	margin-right: 20px;
	font-size: 22px;
}

.settings__setting-column:last-child {
	opacity: 0.5;
}
