.nav {
	/* * navbar를 항상 아래에 고정시키기 위해 사용. */
	position: fixed;
	bottom: 0;
	width: 100%;
	/* * box-sizing: border-box => padding을 늘리더라도, box의 width에 추가되지 않고 width로 입력한 너비를 유지하며, 그 안에서 padding을 준다. */
	box-sizing: border-box;
	background-color: #f9f9fa;
	border-top: 1px solid rgba(121, 121, 121, 0.2);
	padding: 20px 30px;
}

.nav__list {
	/* * 좌우로 정렬 시켜줌. 단, flex-directrion: row 가 default 라 좌우 정렬 */
	display: flex;
	/* * 각 요소들을 떨어트려줌. */
	justify-content: space-between;
}

.nav__link {
	position: relative;
	color: #2e363e;
}

.nav__notification {
	/* * 글자의 위치를 중간으로 맞추기 위해서 사용. */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background-color: tomato;

	color: white;
	font-weight: 600;

	/* * 부모를 position: relative로 변경하고, 거기서부터의 절대적 위치를 설정한다. */
	position: absolute;
	left: 15px;
	bottom: 15px;
}

.nav__notification_small {
	right: 25px;
	bottom: 45px;
	width: 5px;
	height: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	font-weight: 600;
	position: absolute;
	right: -5px;
	bottom: 27px;
	background-color: tomato;
	border-radius: 15px;
}
/*
.nav__notification {
	position: relative;
	right: -40px;
	top: -20px;
	display: inline-block;
	text-align: center;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	background-color: tomato;
}
*/
