.screen-header {
	/* * screen을 일자로 정렬하기 위하여 flex 사용 및 title 과 icons block 을 양방향에 두기 위하여 space-between 사용  */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--horizontal-space);
	padding-top: 40px;
}

.screen-header__title {
	font-size: 28px;
	font-weight: 600;
}

/* * icons의 모든 span 들에 적용 */
.screen-header__icons span {
	margin-left: 20px;
}
